{
    "extends": [
        "wesbos"
    ],
    "rules": {
        "no-console": 1,
        "indent": "off",
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "tabWidth": 4,
                "endOfLine": "crlf"
            }
        ]
    }
}