@light-blue: rgb(239, 246, 250);
@blue: rgb(95, 176, 232);
@black: rgb(51, 51, 57);

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100;400;700&display=swap');

* {
  color: @black;
  box-sizing: border-box;
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.main-container {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 74px 50px;
  background-color: @light-blue;
}

.city-button {
  border: none;
  font-weight: 300;
  font-size: 3.125em;
  background-color: transparent;
  cursor: pointer;
}

.city-button-selected {
  cursor: default;
  font-weight: 700;
  color: @blue;
}

#weather-display {
  border: 8px solid #fff;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#main-content {
  max-width: 1280px;
  margin: 0 auto;
}

#city-selector {
  display: flex;
  justify-content: space-between;
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 74px;
}

#main-weather-card {
  background-color: @light-blue;
  margin-bottom: 8px;
  padding: 5em 0 7.5em 0;
  border-radius: 16px 16px 0 0;
}

.small-weather-card {
  background-color: @light-blue;
  padding: 3.125em 0;
}

#small-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

div:first-child {
  border-bottom-left-radius: 16px;
}

div:last-child {
  border-bottom-right-radius: 16px;
}

.weather-svg {
  height: 6.25em;
  margin: 3.125em 0 2.375em 0;
}

.large-weather-svg {
  height: 11.25em;
  margin-right: 2.813em;
}

.small-card-temperature {
  font-size: 2.5em;
  font-weight: 700;
}

.small-card-temperature span {
  font-size: 1em;
}

.small-card-day {
  font-size: 1.563em;
  font-weight: 300;
}

.main-card-text {
  font-weight: 300;
  font-size: 2.5em;
}

.main-card-temperature {
  font-size: 5.938em;
  font-weight: 700;
  line-height: 1;
}

.main-card-temperature span {
  font-size: 1em;
}

.main-card-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 4.688em;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.weather-condition {
  margin-top: 0.5em;
  margin-left: 0.29em;
}

@media only screen and (max-width: 960px) {
  * {
    font-size: 14px;
  }
}


@media only screen and (max-width: 860px) {
  * {
    font-size: 13px;
  }

  #small-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  div:first-child {
    border-bottom-left-radius: 0;
  }

  div:nth-child(3) {
    border-bottom-left-radius: 16px;
  }
}

@media only screen and (max-width: 780px) {
  * {
    font-size: 12px;
  }

  #city-selector {
    flex-direction: column;
  }
}


@media only screen and (max-width: 480px) {
  #small-card-container {
    grid-template-columns: 1fr;
  }

  div:nth-child(3) {
    border-bottom-left-radius: 0;
  }

  div:last-child {
    border-bottom-left-radius: 16px;
  }
}

@media only screen and (max-width: 400px) {
  * {
    font-size: 10px;
  }

  #small-card-container {
    grid-template-columns: 1fr;
  }

  div:nth-child(3) {
    border-bottom-left-radius: 0;
  }

  div:last-child {
    border-bottom-left-radius: 16px;
  }

  #city-selector {
    flex-direction: column;
  }
}